<div class="container">
  <div class="user-head">
    <div class="container">
      <div class="row">
        <!--user-pic-->
        <div class="col-md-3">
          <div class="user_pic_area">
            <a href="#" data-toggle="modal" data-target="#myModal" class="no-hover">
            <% if !@user.image.blank? %>
              <%= image_tag @user.image.url(:large), class: "user_pic" %>
            <% else %>
              <img src="/system/user_default.png" class="user_pic"/>
            <% end %>
            </a>
            <%= render 'image_modal' %>
          </div><!--end user-pic-->
        </div>

        <div class="name-and-nav col-md-9">
          <br>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <!--user-name-->
                <h1 class="inline"><%= @user.first_name + " " + @user.last_name %></h1>
              <!--follow button business-->
                <% if user_signed_in? %>
                  <% if @user != current_user && !current_user.follows?(@user) %>
                    <div class="text-center inline"><a href="/users/<%= @user.id %>/follow" class="btn btn-default fl-btn">Follow</a></div>
                  <% elsif @user != current_user && current_user.follows?(@user) %>
                    <div class="text-center inline"><a href="/users/<%= @user.id %>/unfollow" class="btn btn-default fl-btn">Unfollow</a></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <br><br>


        </div><!--name-and-nav nav-->
      </div><!--row-->
    </div>
  </div><!--user-head end-->
</div>
<br>

<!--start body-->
<div class="user-body">
  <div class="container">
    <div class="row">
      <!--User pictures start-->
      <div class="col-md-4">
        <div class="pictures-area">

          <div class="pictures-header">
            <p class="margin-auto">Pictures (0)</p> <!--TODO add variable for number of pictures-->
            <hr>
          </div>

          <div class="pictures-body">
          </div>
        </div>
      </div>

      <!--start posts-->
      <div class="posts col-md-8">
        <!--start make-posts-->
        <% if current_user == @user %>
        <div class="make-post">
          <div class="make-post-top">
            <p><strong>Make a post</strong></p>
          </div>

          <div class="make-post-body">
            <form role="form" class="form-group new-post" id="new-post" action="/users/<%= @user.id %>/new_post" enctype="multipart/form-data" accept-charset="UTF-8" method="post">
            <textarea class="form-control" rows="2" name="post_content" id="post_content"></textarea>
          </div>

          <div class="make-post-submit">
            <input class="button med" type="submit" name="commit" value="Post"/>
          </div>
        </form>

        </div><!--end make-post-->
        <br>
        <% end %>

        <!--start posts-display-->
        <div class="posts-display">
          <% @posts.each do |post| %>
            <div class="single-post">
              <p><%= post.content %></p>
              <hr>
              <p>Posted: <%= time_ago_in_words(post.created_at) %> ago</p>
            </div>
          <% end %>
        </div><!--post-display-->
      </div><!--end posts-->

    </div><!--end row-->
  </div>
</div><!--end user-body-->
