<div class="container">
  <div class="user-head">
      <div class="row">
        <!--user-pic-->
        <div class="col-md-4">
          <div class="user_pic_area">
            <%= render "profile_pic" %>
          </div><!--end user-pic-->
        </div>

        <div class="name-and-nav col-md-8">
          <br>
            <div class="row">
              <div class="col-md-12">
                <!--user-name-->
                <h1 class="inline" id="t1"><%= @user.first_name + " " + @user.last_name %></h1>
              <!--follow button business-->
                <% if user_signed_in? %>
                  <% if @user != current_user && !current_user.follows?(@user) %>
                    <div class="text-center inline"><a href="/users/<%= @user.id %>/follow" class="btn btn-default fl-btn">Follow</a></div>
                  <% elsif @user != current_user && current_user.follows?(@user) %>
                    <div class="text-center inline"><a href="/users/<%= @user.id %>/unfollow" class="btn btn-default fl-btn">Unfollow</a></div>
                  <% end %>
                <% end %>
              </div>
          </div>
          <br><br>

          <div class="misc-buttons">
            <!--sub nav bar-->
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" id="t4" class="btn btn-default no-hover-color"><a href="/users/<%= @user.id %>/view_followers">Followers</a></button>
              <button type="button" id="t5" class="btn btn-default">Middle</button>
              <button type="button" id="t6" class="btn btn-default">Right</button>
            </div>
          </div><!--container sub-nav-->

        </div><!--name-and-nav nav-->
      </div><!--row-->
  </div><!--user-head end-->
</div>
<br>

<!--start body-->
<div class="user-body">
  <div class="container">
    <div class="row">
      <!--User pictures start-->
      <div class="col-md-4">
        <div class="pictures-area">

          <div class="pictures-header">
            <p class="margin-auto" id="t2">Pictures (0)</p> <!--TODO add variable for number of pictures-->
            <hr class="no-margin">
          </div>

          <div class="pictures-body">
            <br>
            <p class="text-center">Add pictures to share with your followers</p>
            <br>
          </div>
        </div>
      </div>

      <!--start posts-->
      <div class="posts col-md-8">
        <!--start make-posts-->
        <% if current_user == @user %>
        <div class="make-post">
          <div class="make-post-top">
            <p id="t3"><strong>Make a post</strong></p>
          </div>

          <div class="make-post-body">
            <form role="form" class="form-group new-post" action="/users/<%= @user.id %>/new_post" enctype="multipart/form-data" accept-charset="UTF-8" method="post">
            <textarea class="form-control" rows="2" name="post_content" id="post_content"></textarea>
          </div>

          <div class="make-post-submit">
            <input class="button med" type="submit" name="commit" value="Post"/>
          </div>
        </form>

        </div><!--end make-post-->
        <br>
        <% end %>

        <!--start posts-display-->
        <div class="posts-display">
          <% @posts.each do |post| %>
            <div class="single-post">
              <p><%= post.content %></p>
              <hr class="no-margin">
              <p>Posted: <%= time_ago_in_words(post.created_at) %> ago</p>
            </div>
          <% end %>
        </div><!--post-display-->
      </div><!--end posts-->

    </div><!--end row-->
  </div>
</div><!--end user-body-->

<!-- User tour -->
<% if @user == current_user %>
  <%= javascript_include_tag "tour.js" %>
  <script>tourStart()</script>
<% end %>
