<!DOCTYPE html>
<html>
<head>
  <title>SpacebookV2</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap and Jquery -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

    <body>
      <!--navbar start-->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
              <li class="name navbar-text">Spacebook</li>
            </ul>
          </div>

          <!-- Right Nav Section -->
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li id="t7"><a href="/users/<%= current_user.id %>"><%= current_user.first_name %></a></li>
              <li id="t8"><a href="/users/index">See Users</a></li>
              <li id="t9"><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <li id="t10"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
             <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
             <% end %>
          </ul>
        </div>
      </nav>
      <!--end navbar-->

      <%= yield %>
    </body>
  </html>
